<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="test.app.project.vo.PaymentVo" alias="pay"/>
		<typeAlias type="test.app.project.vo.MembersVo" alias="members"/>
	</typeAliases>
	<mappers>
		<mapper resource="test/app/mybatis/mapperY/AdminMapper.xml"/>
		<mapper resource="test/app/mybatis/mapperL/PayMapper.xml"/>
	</mappers>
</configuration>  
  
  